h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* #region header */

.header{
    background-color: #FFFFFF;
}

.header-ul{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-ul .item-link{
    color: #2e2f42;
}

.address-ul .item-link{
    color: #434455;
}

.header-nav 
.logo-studio{
    color: #2E2F42;
}

.footer
.logo-studio{
    color: #F4F4FD;
}

.logo:hover,
.logo:focus{
    cursor:default;
}

.item-link:hover,
.item-link:focus {
    color: #404BBF;
}

/* #endregion */

/* #region hero*/
.hero{
    background-color: #2E2F42;
    /* ---HW3---*/
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    /* ---HW3---*/
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 48px;
}

.button{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    /* ---HW3---*/
    display: block;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.button:hover,
.button:focus{
    background-color: #404BBF;
}

.vision-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.vision-h2{
    text-transform: capitalize;
}

.vision-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team{
    background-color: #f4f4fd;
    text-transform: capitalize
}

.team-list{
    background-color: #FFFFFF
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-special{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio{
    text-transform: capitalize;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion */

/* #region footer */
.footer{
    background-color: #2e2f42;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion */